@media(max-width:430px){

@media (hover: none) and (pointer: coarse) {
   .project:hover, .hero img:hover, .skills-list li:hover,
   .certification:hover, .blog-post:hover, .hero .name:hover, 
   .btn:hover, .handle1 i:hover, .handle i:hover{
    transform: none;
  }
}
*{
    touch-action: manipulation;
    user-select: none;
}
#sidebarToggle {
    visibility: visible;
}
header{
    display: none;
}
.hero{
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.hero img{
    margin: 2rem 2rem 0rem 1rem;
    width: 300px;
    margin-left: 2rem;
}

.hero .iam{
    font-size: 1rem;
    margin: 2.5rem 3rem 0rem 3rem;
}
.hero .name{
    font-size: 1.5rem;
    margin: 0rem 3rem;
}
.hero .job{
    font-size: 1rem;
    margin-left: 3rem;
    margin-bottom: 0rem;
}
.handle i{
    font-size: 1.5rem;
    margin-left: 1.1rem;
    margin-top: 1rem;
    user-select: none;
}
.handle1 i{
   font-size: 1.5rem;
   margin-left: 3rem;
   justify-content: space-evenly;
   transition: none;
   transform: none;
}

.btn{
    color: #ffffff;
    width: 190px;
    margin:1rem 1rem 0rem 2rem;
    font-size: 1rem;
    display: inline-block;
    padding:0.6rem 3rem;
    border-radius:20px;
    text-align: center;
    text-decoration: none;
    margin-right:2rem;
}
.tags{
    justify-items: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.About{
    align-self: center;
    justify-content: center;
    width:80%;
    font-size: 0.8rem;
    text-align: justify;
    padding:1rem;
    color: #ffffff;
}

.projectcontainer{
    width: 80%;
    display: flex;
    overflow-x: auto;
    gap:3rem;
}

.project{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 180px;
    transition: none;
    transform: none;
}
.project a{
      text-decoration:none;
}
.expcontainter{
    width:80%;
    justify-self: center;
    display:flex;
    flex-direction: column;
    height:300px;
    border-radius:20px;
    padding:1rem;
   
}
.expcontainter::-webkit-scrollbar{
    width:5px;
}
.expcontainter::-webkit-scrollbar-thumb {
    border-radius: 3px ;
}
.post{
    font-size: 1.2rem;
}
.place{
    margin-top:10px;
    font-size:0.8rem;
    color: #ffffff;
}
.tenure{
    margin-bottom: 1rem;
    font-size: 0.7rem;
    color:#ffffff95;
}
.exp{
    color: #ffffff;
    font-size:0.9rem;
    text-align:justify;
    margin-bottom: 3rem;
}
.skills-list li {
    color: #ffffff;
    font-size:1rem;
    transition: none;
}
.certificatecontainer{
    display: flex;
    overflow-x: auto;
    gap: 3rem;
}
.certification{
    margin-bottom: 1rem;
    padding: 1.5rem;
    transition: none;
    transform: none;  
}
.certification a{
    font-size: 1rem;
}
.blogcontainer{
    width: 90%;
    display:grid;
    overflow-x: auto;
    gap:1rem;
}
.blog-post {
    transition: none;
    transform: none;
    margin-top: 1rem;
    padding: 1.5rem;
}
.blog-post h3 {
    margin-top: 0;
    font-size: 1.2rem;
}
.blog-date {
    color: #9b9b9b;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}
.blog-summary {
    color: #ffffff;
    line-height: 1.6;
    font-size: 0.8rem;
}
form {
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem 1.5rem 3rem;
}
form input, form textarea {
    font-size: 0.8rem;
  
}
.contactme{
    margin-bottom: 0.2rem;
    transition: none;
    transform: none;
}
form button {
    padding: 0.5rem;
    margin:1rem;
    width: 8rem;
    font-size: 1.2rem;
}
.footer {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 0 5px;
}

.footer h3 {
  font-size: 15px;
}
.footer a i{
    font-size: 25px;
    margin-right: 1.2rem;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 10px;
  color: #888;
}

#goTop{
    display: none;
}

.popup i{
    font-size: 4rem;
    margin-top: -35px;
}
  .popup{
    width:225px;
    font-size: 1rem;
  }
  .popup .btn{
    margin-top: 20px;
  }
  .button{
    font-size: 1rem;
  }

}


/*
@media(max-width:780px){
    
@media (hover: none) and (pointer: coarse) {
   .project:hover,.hero .name:hover, .btn:hover, .hero img:hover,
   .handle1:hover, .handle:hover, .skills-list li:hover,
   .certification:hover, .blog-post:hover{
    transform: none;
  }
}

*{
    touch-action: manipulation;
    user-select: none;
}
#sidebarToggle {
    visibility: visible;
    font-size: 2rem;
}
header{
    display: none;
}
.hero{
    flex-direction: column;

    align-items: center;
    align-content: center;
} 
.hero img{
    margin: 2rem 2rem 0rem 1rem;
    width: 500px;
    margin-left: 2rem;
}

.hero .iam{
    font-size: 2rem;
    margin: 2rem 3rem 0rem 3rem;
}
.hero .name{
    font-size: 3rem;
    margin: 0rem 3rem;
}
.hero .job{
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-bottom: 0rem;
}
.handle i{
    font-size: 2rem;
    margin-left: 1.1rem;
    margin-top: 1rem;
    user-select: none;
}
.handle1 i{
   font-size: 2rem;
   margin-left: 3rem;
   justify-content: space-evenly;
   transition: none;
   transform: none;
}

.btn{
    color: #ffffff;
    width: 220px;
    margin:1rem 1rem 0rem 2rem;
    font-size: 1.5rem;
    display: inline-block;
    padding:0.6rem 3rem;
    border-radius:20px;
    text-align: center;
    text-decoration: none;
    margin-right:2rem;
}
.tags{
    justify-items: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.About{
    align-self: center;
    justify-content: center;
    width:80%;
    font-size: 1.2rem;
    text-align: justify;
    padding:1rem;
    color: #ffffff;
}

.projectcontainer{
    width: 80%;
    display: flex;
    overflow-x: auto;
    gap:3rem;
}

.project{
    color: #ffffff;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.project a{
      text-decoration:none;
}
.expcontainter{
    width:80%;
    justify-self: center;
    display:flex;
    flex-direction: column;
    height:300px;
    border-radius:20px;
    padding:1rem;
   
}
.expcontainter::-webkit-scrollbar{
    width:5px;
}
.expcontainter::-webkit-scrollbar-thumb {
    border-radius: 3px ;
}
.post{
    font-size: 1.5rem;
}
.place{
    margin-top:10px;
    font-size:1.1rem;
    color: #ffffff;
}
.tenure{
    margin-bottom: 1rem;
    font-size: 1rem;
    color:#ffffff95;
}
.exp{
    color: #ffffff;
    font-size:1.2rem;
    text-align:justify;
    margin-bottom: 3rem;
}
.skills-list li {
    color: #ffffff;
    font-size:1rem;
    font-size: 1.3rem;
}
.certificatecontainer{
    display: grid;
    gap: 3rem;
}
.certification{
    margin-bottom: 1rem;
    padding: 1.5rem;
}
.certification a{
    font-size: 1.4rem;
}
.blogcontainer{
    width: 90%;
    display:grid;
    overflow-x: auto;
    gap:1rem;
}
.blog-post {
    transition: none;
    transform: none;
    margin-top: 1rem;
    padding: 1.5rem;
}
.blog-post h3 {
    margin-top: 0;
    font-size: 1.5rem;
}
.blog-date {
    color: #9b9b9b;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}
.blog-summary {
    color: #ffffff;
    line-height: 1.6;
    font-size: 1.2rem;
}
form {
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem 1.5rem 3rem;
}
form input, form textarea {
    font-size: 0.8rem;
  
}
.contactme{
    margin-bottom: 0.2rem;
    transition: none;
    transform: none;
}
form button {
    padding: 0.5rem;
    margin:1rem;
    width: 8rem;
    font-size: 1.2rem;
}
.footer {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 0 5px;
}

.footer h3 {
  font-size: 15px;
}
.footer a i{
    font-size: 25px;
    margin-right: 1.2rem;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 10px;
  color: #888;
}

#goTop{
    display: none;
}

.popup i{
    font-size: 6rem;
    margin-top: -40px;
}
  .popup{
    width:400px;
    font-size: 1.5rem;
  }
  .popup .btn{
    margin-top: 20px;
  }
  .button{
    font-size: 1.5rem;
  }

} 
*/
