* {
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c9d1d9dc;
}

body {
    margin: 0;
    height: 100vh;
    background: #0d1117;
    background-size: 150% 150%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 0 30px;
}

.logo i {
    color: #2ea043;
    margin-right: 1rem;
    margin-left: 1rem;
}

.logo {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0.8rem;
    border-radius: 20px;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    letter-spacing: 0.3rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

}

ul a {
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.2rem;
    background: none;
    padding: 0.7rem;
    color: #58a6ff;
    ;
    padding-left: 1rem;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.1rem;
}

ul a:hover {
    letter-spacing: 0.2rem;
}

#goTop {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: 2px solid #2ea043;
    background: #0d1117;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 101;
    border-radius: 8px;
    font-size: 25px;
    margin-bottom: 1rem;
}

#sidebar {
    margin-top: 0.5rem;
    width: 0;
    border: 2px solid #2ea043;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background: #090909bf;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s ease-in-out;
    border-radius: 20px;
    margin-right: -40px;
}

#sidebar a {
    padding: 5px 20px;
    margin: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

#sidebarToggle {
    visibility: hidden;
    position: fixed;
    top: 20px;
    right: 20px;
    border: 2px solid #2ea043;
    background: #0d1117;
    color: #58a6ff;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 104;
    border-radius: 8px;
    font-size: 25px;
    margin-bottom: 1rem;
}

.content {
    overflow: hidden;
}

.hero {
    display: flex;
}

.hero img {
    margin-top: 2rem;
    width: 500px;
    border-radius: 50%;
    margin-left: 8rem;
    border: 2px solid #fff;
    transition: 0.3s ease-in-out;
}

.hero img:hover {
    transform: scale(1.07);
    filter: drop-shadow(0px 0px 8px #fff);
}

.hero .iam {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: #a3a3a3;
    margin: 7rem 3rem 0rem 3rem;
    transition: 0.3s ease-in-out;
}

.hero .name {
    color: #ffffff;
    font-size: 4rem;
    margin: 0rem 3rem;
    font-family: sans-serif;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(1px 1px 2px #58a6ff); 
}

.hero .job {
    color: #d7d7d7;
    font-size: 2rem;
    margin: 0rem 3rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    transition: 0.3s ease-in-out;
}


.btn {
    color: #ffffff;
    letter-spacing: 0.01rem;
    font-size: 1rem;
    display: inline-block;
    margin: 0rem 0.5rem 1rem 3rem;
    padding: 1rem;
    border: 2px solid #2ea043;
    border-radius: 20px;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 2rem;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    filter: drop-shadow(2px 2px 8px #2ea043);
}

.handle1 {
    font-size: 2.5rem;
}

.handle {
    margin-left: 2rem;
    font-size: 2.5rem;
}

.handle1 i {
    margin-left: 3rem;
    margin-top: 1rem;
    transition: 0.3s ease-in-out;
    color: #58a6ff;
}

.handle i {
    margin-top: 1rem;
    transition: 0.3s ease-in-out;
    color: #58a6ff;
}

.handle i:hover {
    transform: translateX(12px);
    /* filter: drop-shadow(2px 2px 8px #c0d6ec); */

}

.handle1 i:hover {
    /* filter: drop-shadow(2px 2px 8px #c0d6ec); */
    transform: translateX(12px);
}

.tags {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;

}

.About {
    align-self: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    font-size: 1.3rem;
    text-align: justify;
    border: 2px solid #2ea043;
    border-radius: 20px;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.About:hover {
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.3);
    color: #ffffff;
    z-index: 2;
}

.projectcontainer {
    justify-self: center;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5rem;
}

.projectcontainer::-webkit-scrollbar {
    height: 5px;
}

.projectcontainer::-webkit-scrollbar-thumb {
    background: #2ea04396;
    border-radius: 3px;
}

.project {
    font-size: 1.5rem;
    padding: 2rem;
    border: 2px solid #2ea043;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.project:hover {
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.3);
    cursor: pointer;
    z-index: 2;
}

.project a {
    text-align: center;
    color: #58a6ff;
    text-decoration: none;
}

#git {
    color: #34b84c;
}

.expcontainter {
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow-y: auto;
    border: 2px solid #2ea043;
    border-radius: 20px;
    padding: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
}

.expcontainter:hover {
    color: #fff;
}

.expcontainter::-webkit-scrollbar {
    width: 5px;

}

.expcontainter::-webkit-scrollbar-thumb {
    background: #2ea04396;
    border-radius: 4px;
}

.post {
    font-size: 1.7rem;
    color: #ffffff;
}

.place {
    color: #c0c0c0;
    margin-top: 10px;
    font-size: 1.2rem;

}

.place a {
    color: #58a6ff;
    text-decoration: none;
}

.tenure {
    margin-bottom: 1rem;
    color: #ffffff;
}

.exp {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 3rem;
}

.exp:hover {
    color: #ffffff;
}


.skills-list {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    list-style: none;
    text-align: center;
    width: 80%;
}

.skills-list li {
    border: 2px solid #2ea043;
    border-radius: 20px;
    padding: 0.8rem 1rem;
    font-size: 1.4rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 2rem;
}

.skills-list li:hover {
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.3);
    transform: scale(1.1);
    color: #ffffff;
    /* filter: drop-shadow(2px 2px 8px #c0d6ec); */
}

.certificatecontainer {
    justify-self: center;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5rem;
}

.certificatecontainer::-webkit-scrollbar {
    height: 5px;
}

.certificatecontainer::-webkit-scrollbar-thumb {
    background: #2ea04396;
    border-radius: 3px;
}

.certification {
    font-size: 1.2rem;
    padding: 2rem;
    border: 2px solid #2ea043;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.certification a {
    font-size: 1.3rem;
    align-self: center;
    color: #58a6ff;
    text-decoration: none;
}

.certification:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.3);
    cursor: pointer;
}


.blogcontainer {
    justify-self: center;
    width: 80%;
    display: grid;
    gap: 2rem;
}

.blog-post {
    font-size: 1.3rem;
    padding: 2rem;
    border: 2px solid #2ea043;
    border-radius: 20px;
    text-align: justify;
    transition: 0.3s ease-in-out;
}

.blog-post h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    margin-top: 0;
    font-size: 1.3rem;
}

.blog-date {
    color: #bdbdbd;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

.blog-summary {
    line-height: 1.6;
    font-size: 1rem;
}

.blog-summary:hover {
    color: #ffffff;
}

.blog-post:hover {
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.3);
}


form {
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem 1.5rem 3rem;
}

form input,
form textarea {
    color: #ffffff;
    margin: 0.5rem 0;
    padding: 0.7rem;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    background: none;

}

.contactme {
    border: 2px solid #2ea043;
    border-radius: 20px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    margin-bottom: 1rem;
}

.contactme:hover {
    transform: scale(1.015);
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.3);
}

form button {
    padding: 1rem;
    margin: 1.5rem;
    border: 2px solid #58a6ff;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    width: 10rem;
    align-self: center;
    margin-bottom: 8rem;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

form button:hover {
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.3);
}

.footer {
    display: flex;
    padding: 10px 0 10px;
    text-align: center;
    justify-content: space-evenly;
}

.footer p {
    font-size: 12px;
    margin-bottom: 10px;
}

.footer h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;

}

.footer a i {
    font-size: 30px;
    margin-right: 1.5rem;
}

.footer a i:hover {
    color: #58a6ff;
    transform: scale(1.1);
}

.footer-bottom {
    margin: 0px;
    font-size: 20px;
    color: #888;
}

.popup {
    z-index: 100;
    width: 350px;
    background: #0d1117;
    border-radius: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 15px 15px;
    border: 3px solid #58a6ff;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.thankyou {
    color: #ffffff;
}

.open-popup {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup i {
    font-size: 100px;
    margin-top: -50px;
    margin-bottom: 20px;
}

.popup .thankyoubtn {
    padding: 0.5rem;
    margin-top: 2rem;
    margin-left: 0rem;
    border-radius: 20px;
    background: #0d1117;
    border: 3px solid #2ea043;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
    width: 40%;
}

.popup .btn:hover {
    transform: scale(1.08);
}
